.v-navigation-drawer {
  top: 64px;
  padding: 20px 20px 20px 0;
  width: auto !important;
  background: #303030 !important;
  border: 0 !important;
  transform: translateX(0px) !important;
}
#admin-bar {
  padding: 0 20px;
  button {
    width: 128px;
  }
  a {
    text-decoration: none;
  }
}
