* {
  font-weight: normal !important;
}
#app {
  font-family: 'Open Sans', Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.v-toolbar--fixed {
  z-index: 10;

  .v-toolbar__content {
    max-width: 1328px;
    margin: 0 auto;
    position: relative;
  }
}
a {
  text-decoration: none;
}
h1 {
  position: relative;
  height: 66%;
  top: 15%;
  img {
    height: 100%;
  }
  span {
    position: relative;
    top: -1px;
    left: 1px;
    font-variant: small-caps;

    span {
      top: 0;
      left: 0;
    }
  }
}
div.v-subheader {
  height: auto;

  &.border {
    border-bottom: 1px solid #555;
  }
}
.v-content__wrap {
  background: url(./assets/bg.jpg) no-repeat 33% 0;
  box-shadow: 0 4px 8px -5px #000 inset;
  background-size: cover;
  background-attachment: fixed;
  max-width: 1280px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.theme--dark.v-counter {
  color: #50816B !important;
}
.theme--dark.v-subheader {
  color: #ccc;
}
.date {
  color: #50816B;
  font-size: 13px;
}
.comment, .reply {
  width: 100%;
  background: rgba(0, 0, 0, .1);
  border-radius: 3px;
  padding: 10px;
}
